<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

<br><br>



<div id="content" class="d-flex justify-content-center content-section">
    <div class = "body container container-fluid login">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 col-xs-6">
                <div class="container container-fluid">
                    <h1 class = "text-white text-center" style="background-color: black;">
                        <img src="/static/images/logo3.png" width="140" height="70" alt="WuHaYu">LOGIN
                    </h1> 
                </div>
            </div>
        </div>
        <!-- <div class="content-section" >  -->
        <div class="container container-fluid" id="reg_form">
            {% include 'messages.html' %}
            <form id="form" method="POST">
                {% csrf_token %}
                {{ form.as_p }}                    
                <input type="submit" name="Submit" class="btn btn-info btn-dark" type="button">
            </form>
        </div>
        <div id="content" class="container container-fluid">
            <br>
            <small class="form-text text-center">
                Create an account              
                <a href="{% url 'register' %}" style="color: black">here</a>     
            </small> 
        </div> 
    </div>
</div>

<!-- <div id="content" class="d-flex justify-content-center">
    <div class = "body container-fluid container login">     
    
        <div class="content-section">
            <div class="container container-fluid">
                {% include 'messages.html' %}
                <form id="form" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    
                    <input type="submit" name="Submit" class="btn btn-info btn-dark" type="button">
                    
                </form>                
            </div>
        </div>
        
        <div id="content" class="container container-fluid">
            <br>
            <small class="form-text text-center">
                Create an account              
                <a href="{% url 'register' %}" style="color: black">here</a>     
            </small> 
        </div> 
    </div>
</div>  -->


{% endblock %}

 